@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Song+Myung');
@import url('https://fonts.googleapis.com/css?family=Cabin');

body {
  margin: 0;
  font-size: 12px;
}

.hide {
  display: none;
}

.container {
  padding: 5px;
  margin-left: auto;
}

.toggle_optn {
  display: flex;
  flex-flow: row wrap; 
}

.toggle-btn {
  width: 35px;
  height: 15px;
  background: grey;
  border-radius: 30px;
  padding: 5px;
  transition:all 300ms ease-in-out;
}

.toggle-btn > .inner-circle {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  transition:all 300ms ease-in-out;
}

.toggle-btn.active {
  background: #00acee;
}

.toggle-btn.active > .inner-circle {
  margin-left: 20px;
}

#forth_div {
  display: flex;
  flex-flow: row wrap;
}

.stats {
  margin-left: 12px;
  margin-top: 0px;
  margin-bottom :0px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

#dp-update  {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}


#new_post {
  display: none;
}

.add_button{
  border:none;
  margin-left:12px;
  background-color: #458eff;
  color:white;
  border-radius: 4px;
  margin-left: 12px;
  margin-bottom: 2px;
  width: 120px;
  height: 18px;
}

.msg_container {
  width: 100%;
  float: right;
}

.profile_opts {
  margin-top: 15px;
}

.profile_opts img{
  width: 12px;
  height: 12px;
  margin-left: 5px;
  margin-top: 2px;
  opacity: 0.5;
}

.seen {
  color: #a7aaaf;
  margin: 0px;
  margin-left: 8px;
  font-size:10px;
  margin-bottom: 5px;
}

.tooltip {
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  display: none;
  visibility: hidden;
  text-align: center;
  font-size: 10px;
  color: black;
  /* Position the tooltip */
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  display: block;
}

.reply_details{
  margin-top: 0px;
  margin-bottom:0px;
}

.speech-bubble-ds {
  border: 1px solid #a7a7a7;
  -webkit-border-radius: 4px;
            border-radius: 12px;
  line-height: 1.3;
  margin: 0 auto 4px;
  max-width: 250px;
  min-width: 10px;
  display: inline-block;
  padding: 6px;
  margin-left: 0px;
  word-wrap: break-word;
}

.speech-bubble-dsr {
  border: 1px solid #F4F4F4;
  background-color: #F4F4F4; 
  -webkit-border-radius: 4px;
            border-radius: 12px;

  line-height: 1.3;
  margin: 0 auto 4px;
  max-width: 250px;
  min-width: 10px;
  display: inline-block;
  padding: 6px;
  margin-left: 0px;
  word-wrap: break-word;
  float: right;
}

.msg_text {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 13px;
}

.msg_text:last-of-type {
  margin-bottom: 0;
}



.btn-group .button {
  background-color: transparent; /* Green */
  color: black;
  border: 1px solid black;
  padding: 4px 5px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  float:left;
  margin-top: 14px;
}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: rgb(29, 161, 242);
  color: white;
}

.comment_timestamp{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size:8px;
  color:#a7aaaf;
  font-family: 'Lato', sans-serif;
}

.comment_user {
  border:1px solid rgb(29, 161, 242);
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin:1px;
  padding:1px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.show_more_status{
  text-align:center;
  margin-top: 5px;
  margin-bottom: 3px;
  width: 80%;
  margin-left: 10%;
  border: 1px solid #eaeae1;
  border-radius: 5px;
}

.show_more_replies{
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0%;
  color: #7D7F81;
  text-align: center;
  width: 90%;
}


.msg_detail_ago{
  margin-left: auto;
  color: #7D7F81;
}

.msg_detail_txt{
  margin-left: 4px;
  max-width: 70%;
}

.msg_direction{
  padding-top: 3px;
}

.msg_details{
  display: flex;
  flex-flow: row-wrap;
  align-items: center;

}

.thread_face{
  margin-left: 5px;
  width: 80%;
}

.thread_head_name{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: roboto;
  font-size: 16px;
}

.user_msg{
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin:1px;
  padding:1px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.post_options {
  margin-left: auto;
}

.old_msgs_list {
  margin-left: 6px;
  max-height: 400px;
  overflow: auto;
  margin-right: 6px;
}

.msg_form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.msg_form-inline input[type=text]{
  border: 0px;
  background: rgb(230, 236, 240);
  border-radius: 10px;
  height: 20px;
  color: black;
  font-size:13px;
  margin:1px;
  margin-left: 2px;
  width:84%;
  padding-left: 4px;
  padding-right: 4px;
}

.msg_form-inline input[type=text]:hover{
  border:1px solid rgb(29, 161, 242);
  height: 16px;
}

.msg_form-inline input[type=submit]{
  border:1px solid rgb(29, 161, 242);
  background: white;
  border-radius: 10px;
  height: 20px;
  color: rgb(29, 161, 242);
  font-weight: bold;
  font-size:13px;
  margin:1px;
}

.thread_head {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#message_search_field {
  border: 0px;
  background: rgb(230, 236, 240);
  border-radius: 10px;
  height:30px;
  color: black;
  width: 95%;
  margin-left: 2%;
  margin-bottom: 8px;
}

.messages {
  box-shadow: 0px 0px 1px rgba(0, 0, 1, 0.3);
  margin-right: 0px;
  margin-left:0px;
  padding: 10px; 
  background: white;
}

#messages {
  padding-top: 50px;
  display: none;
}

#secret_message_form{
  display: flex;
  flex-flow: row;
  align-items: center;
}

#secret_message_form input[type=text]{
  width: 90px;
  border: 0px;
  background: rgb(230, 236, 240);
  border-radius: 10px;
  height:18px;
  color: black;
  font-size:12px;
  padding-left: 8px;
  margin-left: 12px;
  transition: width 0.4s ease-in-out;
}

#secret_message_form input[type=text]:focus{
  width:70%;
}

#secret_message_form input[type=submit]{
  border: 1px solid grey;
  background-color: white;
  border-radius: 10px;
}

.info_row{
  width:80%;
  margin: 0px;
  word-wrap: break-word
}

.confessions_loader{
  width:50px; 
  height:50px;
  margin-left:40%;
}

#user_info{
  font-size: 12px;
  margin-top: 2px;
  margin-left: 15px;
}

#edit_profile_form{
  margin-top: 2px;
  display: none;
  margin-left: 15px;
}

#edit_profile_form input[type=text]{
  border: 0px;
  background: rgb(230, 236, 240);
  border-radius: 10px;
  height:20px;
  color: black;
  font-size:12px;
  padding-left: 10px;
  width:70%;
  margin-bottom: 6px;
}

#edit_profile_form input[type=submit]{
  border: 1px solid grey;
  background-color: white;
  border-radius: 10px; 
}

.profile_button{
  border: 1px solid grey;
  background-color: white;
  border-radius: 4px; 
  margin-top: 4px;
  margin-left: 12px;
}

#show_more{
  display: none;
}

#first_div{
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-flow: row wrap;
}

#profile_user_email{
 margin-left: 12px;
 margin-top: 0px; 
 margin-bottom: 0px;
}

#profile_user_name{
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 0px;
}

.profile_user_update {
  border:1px solid rgb(29, 161, 242);
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin:1px;
  padding:1px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.profile_user {
  border:1px solid rgb(29, 161, 242);
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin:1px;
  padding:1px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#user_profile{
  padding-top: 45px;
  display: none;
}

.user_name_heading{
  margin-bottom: 0px;
  font-size: 15px; 
  margin-top: 12px;
  font-family:'Roboto', sans-serif;
}

.user_email{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size:11px;
  color:#a7aaaf;
  font-family: 'Lato', sans-serif;
}

.user_heading{
  display: flex;
  flex-flow: row wrap;
}

.user_name{
  width:80%;
}


.user_heading{
  display: flex;
  flex-flow: row wrap;
}


#search_field{
  border: 0px;
  background: rgb(230, 236, 240);
  border-radius: 10px;
  height:30px;
  color: black;
  width: 95%;
  margin-left: 2%;
}

.inline {  
z-index: 5;
}

#sidebar {
  padding-top: 50px;
  display: none; 
}


#sidebar a {
  font-family:'Roboto', sans-serif;
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 0px 0px;
  padding-left:2px;
  padding-right: 2px;
  text-decoration: none;
  font-size: 18px;
  padding:10px 2.5px;
}

  .comments_loader{
    height: 10px;
    width: 10px;
  }

  #options_overlay{
    font-family:'Lato', sans-serif;
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.3);
    transition: 0.5s;
  }

  #options_list p {
    margin-top: 1px;
    margin-bottom: 1px;
    color: black;
    padding: 10px 16px;
    display: block;
    font-size: 15px;
    font-weight: bold;
  }

.div_option:hover{
  background-color:rgb(239, 240, 241);
}

  #options_list input[type=text]{
    width:95%;
    margin-left: 2.5px;
    border: none;
    height: 30px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #options_list input[type=submit],input[type=button]{
    background-color: white;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    width:50%;
  }


  #options_list{
    margin-top: 200px;
    margin-left: 20%;
    display: none;
    min-width: 60%;
    border: 1px solid white;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }

  .post_options img{
    width: 15px;
    height: 15px;   
  }

  progress {
    background-color: #f3f3f3;
    border: 0;
    height: 5px;
    border-radius: 9px;
  }

    #photo_upload_heading{
        height:7%;
        margin-bottom: 20px;
        background-color: rgb(29, 161, 242);
        color:white;
    }

    #photo_upload_heading p{
        margin-top: 0px;
        margin-bottom: 0px;
    }

#file-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
    #page-loader {
        position: fixed; /* Sit on top of the page content */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ffffff; /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    }

    #page-loader img{
      margin-left: 40%;
      margin-top: 70%;
    }


#clear_img_button{
  border:1px solid rgb(29, 161, 242);
  background: rgb(230, 236, 240);
  border-radius: 10px;
  height:20px;
  color: rgb(29, 161, 242);
  font-weight: bold;
  font-size:10px;
  margin:1px;
  margin-bottom: 4px;
}

#loaded_n_total{
  margin-top: 0px;
  margin-bottom: 0px;
}

#status{
  margin-top: 0px;
  margin-bottom: 0px;
}

.text_posts{
  margin-left:40px;
}

.commentbtn{
  width: 25px;
  height: 25px;
  margin-left: 8px;
}

.likebtn{
  width: 25px;
  height: 25px;
}

.likebtn_anm{
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0% {transform: scale(0.1); }
  60% {transform: scale(1.2);}
  80%  {transform: scale(1);} 
}

.comment_author{
  width:80%;
}

.comment_body{
  margin-top: 0px;
  margin-bottom: 0px;
  word-wrap: break-word;
}

.comment_heading_author{
  font-family: 'Lato', sans-serif;
  margin-top: 5px;
  margin-bottom: 0px;
}

.comment_heading{
  display: flex;
  flex-flow: row wrap;
}

.post_author{
  margin-left: 5px;
  max-width: 80%;
}


.post_heading{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
}

.overlay-content {
  width: 100%;
  text-align: center;
}


.overlay .closebtn {
  margin-left:90%;
  font-size: 40px;
  width:40px;
}


.comment_form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.comment_form-inline input[type=text]{
  border: 0px;
  background: rgb(230, 236, 240);
  border-radius: 10px;
  height:20px;
  color: black;
  font-size:10px;
  margin:1px;
  width:70%;
  margin-left:19px;
  margin-bottom: 6px;
}

.comment_form-inline input[type=text]:hover{
  border:1px solid rgb(29, 161, 242);
  color: rgb(29, 161, 242);
  height: 18px;
}

.comment_form-inline input[type=submit]{
  border:1px solid rgb(29, 161, 242);
  background-color: white;
  border-radius: 10px;
  height:20px;
  color: rgb(29, 161, 242);
  font-weight: bold;
  font-size:10px;
  margin:1px;
  margin-bottom: 6px;
}

.comment_list{
    max-height: 300px;
  overflow: auto;
  margin-left:20px;  
}



.user {
  border:1px solid rgb(29, 161, 242);
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin:1px;
  padding:1px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#first_last_name{
  display:inline-block;
}

#anon_checkbox {
    background: rgb(230, 236, 240);
    margin-left: 10%;
}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline input[type=text]{
  border: 0px;
  background: rgb(230, 236, 240);
  border-radius: 10px;
  height:30px;
  color: black;
  margin:1px;
}

.form-inline input[type=text]:hover{
  border:1px solid rgb(29, 161, 242);
  color: rgb(29, 161, 242);
  height: 28px;
}

.form-inline input[type=submit]{
  border:1px solid rgb(29, 161, 242);
  background-color: white;
  border-radius: 10px;
  height:30px;
  color: rgb(29, 161, 242);
  font-weight: bold;
  margin:1px;
  width: 13%;
}


#checkbox_text{
  margin-top: -1px;
  font-family:'Roboto', sans-serif;
  border: 0px;
  background: rgb(230, 236, 240);
  border-radius: 10px;
}


#welcome_heading {
  width: 300px;
  margin-top: 12px;
  margin-bottom: 0px;
}

#welcome_heading h1{
  margin-bottom: 0px;
}


.flexContainer{
  display: flex;
}

.confessionField{
  flex: 1;
}


#di{
font-family: 'Roboto', sans-serif;
padding-left: 10px;
}



#top-div{
    padding-top: 60px;
    margin-top:0px;
}

#navbar {
  position: fixed;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  overflow: hidden;
  height:40px;
  width: 100%;
  background-color: white;
}

#navbar a {
  font-family:'Roboto', sans-serif;
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 0px 0px;
  padding-left:2px;
  padding-right: 2px;
  text-decoration: none;
  font-size: 18px;
  padding:10px 2.5px;
}

#navbar a:hover {
  background-color: #42dcf4;
  color: #ddd;
}

#navbar a.active {
  background-color: #42dcf4;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.posts img{
    margin-top: 3px;
    width:100%;
}

.boxshadow {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.09);
    padding: 10px;
    margin-right: 0px;
    margin-left:0px; 
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
}



.footer-nav {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    display: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.show, .footer-nav:hover {
    display: block;
}

#logo_img{
  padding-top: 5px;
  padding-left: 25%;

}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, .5);
   overflow: hidden;
   background-color: white;
   height:40px;
}

#confessions{
  margin-bottom: 10px;
}

#write {
  font-family:'Roboto', sans-serif;
  color:black;
  display: none;
  position: fixed;
  bottom: 30px;
  right: 25px;
  background: transparent;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1px;
  border-radius: 4px;
}

*:focus {
  outline: none;
}

#file-upload-label{
  margin-left:10%;
}

#image_mode_selector{
  font-family:'Roboto', sans-serif;
  margin-top: -1px;
  margin-bottom:0px;
  width:  84px;
  padding-left: 2px;
  border: 0px;
  background: rgb(230, 236, 240);
  border-radius: 10px;
}

.like_comment_buttons{
      display: flex;
      list-style-type: none;
      padding-left: 0px;

}
.like_comment_buttons li{
  padding: 1px;
}

.like_comment_buttons p,ul{
  margin-top: 0px;
  margin-bottom: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

#show_more{
  margin-top: 10px;
  width:100%;
  margin-bottom: 0px;
}

.confession_no {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size:16px;
  color: #3B5998;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.confession_timestamp{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size:12px;
  color:#a7aaaf;
  font-family: 'Lato', sans-serif;
}

.confession_message{
  font-size:12px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family:'Roboto';
  word-wrap: break-word;
}

.like_comment_counter{
  display: flex;
  list-style-type: none;
  padding-left: 0px;
  color:#a7aaaf;
  font-family: 'Lato', sans-serif;
}
.like_comment_counter li{
  padding: 1px;
}

.like_comment_counter p,ul{
  margin-top: 0px;
  margin-bottom: 0px;
}

.comments_status{
  font-size:12px;
  color:#a7aaaf;
  font-family: 'Lato', sans-serif;
  margin-top:0px;
  margin-bottom: 12px;
  margin-left:40px;
  width: 160px;
}


.delete_comment_button{
  max-width:10px;
  height:10px;
  right:0px;
}
